body{
    background-color: rgb(235, 229, 229);
    
    
}

.main-container{
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(235, 229, 229);
    padding: 10px;
}

.details-container{
    text-align: center;
}

